* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .matter-demo.matter-demo-inline {
    height: 100vh;
    width: 100vw;
  }
  
  .matter-demo canvas {
      width: 100%;
      height: auto;
      max-width: unset;
      max-height: unset;
  }